
homework/.editorconfig
homework/.ipynb_checkpoints/
homework/data/
homework/Day_001_example_of_metrics.*
homework/Day_002_first_EDA.*
homework/Day_003-1_build_dataframe_from_scratch.*
homework/Day_003-2_HW.*
homework/Day_003-2_read_and_write_files.*
homework/Day_003-3_read_and_write_files.*
homework/Day_004_column*
homework/Day_006_out*




